@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

body {
	font-family: 'Open Sans', sans-serif;
	color: #333333;
	width: 90%;
	max-width: 25em;
	margin: auto;
	padding: 5px;
}

h1 {
	text-align: center;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}