{% extends 'base.html' %}

{% block content -%}
		<h1>
			Shopping List
		</h1>
		<ul>
		{%- for item in list %}
			<li>
				<form action="{{ url_for('remove') }}" method="POST">
					<button><span>-</span></button>
					<label>{{ item }}</label>
					<input type="hidden" name="item" value="{{ item }}">
				</form>
			</li>
		{%- endfor %}
		</ul>
		<form action="{{ url_for('add') }}" method="POST">
			<button><span>+</span></button>
            <input type="text" name="item" autocomplete="off" autofocus>
        </form>
{%- endblock %}