<!DOCTYPE html>
<html>
	<head>
		<title>Shopping List</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<link rel="shortcut icon" type="image/ico" href="{{ url_for('static', filename='icon.ico') }}">

		<script>0</script>
	</head>
	<body>
		<h1>
			Shopping List
		</h1>
		<ul>
		{%- for item in list %}
			<li>
				<form action="{{ url_for('remove') }}" method="POST">
					<button><span>-</span></button>
					<label>{{ item }}</label>
					<input type="hidden" name="item" value="{{ item }}">
				</form>
			</li>
		{%- endfor %}
		</ul>
		<form action="{{ url_for('add') }}" method="POST">
			<button><span>+</span></button>
            <input type="text" name="item" autocomplete="off" autofocus>
        </form>
	</body>
</html>